/*=======
CSS INDEX
=========

1. Base CSS

================================*/


/* =============================
1. Base CSS
================================*/

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0px solid;
}

img {
    max-width: 100%;
    height: auto;
}

.fix {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.section-padding {
    padding: 60px 0;
}

.section-gray {
    background-color: #F7F7F7;
}

.section-dark {
    background-color: #110C09;
    color: #fff;
}

a {
    transition: .3s;
}

a:hover {
    color: #000;
}

#cd-menu-trigger {
    display: none;
}

/* =========================
2. Home CSS
============================*/
#mobile-header {
    display: none;
}

.logo {
    max-width: 82px;
}

.logo img {
    width: 100%;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav ul li {
    display: inline-block;
    margin-right: 32px;
}

.main-nav ul li a {
    color: #4A4A4A;
    font-weight: 700;
    font-size: 18px;
    padding: 34px 0 26px;
    display: block;
    text-transform: uppercase;
}

.oni-btn {
    max-height: 163px;
    height: 52px;
    display: block;
    background-color: #7ED321;
    color: #fff;
    text-align: center;
    line-height: 52px;
    border-radius: 25.5px;
    font-size: 20px;
}

.header-area {
    padding: 25px 0 22px;
}

.donate {
    padding-top: 16px;
}

.banner-left h6 {
    font-size: 27px;
    color: #232323;
    text-transform: uppercase;
    margin-top: 32px;
    margin-left: 14px;
}

.banner-left h1 {
    color: #720E95;
    font-size: 190px;
    line-height: 154px;
    margin-bottom: 60px;
}

.banner-right {
    text-align: right;
}

.banner-right img {
    max-width: 335px;
}

.banner-area {
    padding-top: 50px;
}

.promo img {
    max-width: 59px;
}

.promo .thumb {
    min-height: 70px;
    margin-bottom: 22px;
}

.promo h3 {
    font-size: 36px;
    color: #4A4A4A;
    line-height: 42px;
}

.promo p {
    font-size: 25px;
    color: #4A4A4A;
    line-height: 42px;
}

.power-area {
    background-color: #F7F7F7;
    padding: 90px 0;
}

.power-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.power-thumb img {
    max-width: 111px;
}

.power-detail h4 {
    font-size: 24px;
    color: #632F7B;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.power-detail p {
    margin-bottom: 0;
    font-size: 25px;
    color: #4A4A4A;
}

.power-link a {
    font-size: 26px;
    color: #720E95;
    font-weight: 700;
}

.banner-left a img {
    max-width: 318px;
}

.detail-inner {
    max-width: 69%;
    margin: 0 auto;
}

.detail-item {
    display: flex;
    align-items: center;
}

.detail-item .d-thumb {
    margin-right: 5%;
    width: 42%;
}

.detail-item .d-desc {
    width: 53%;
}

.detail-item .d-desc h4 {
    font-size: 36px;
    color: #4A4A4A;
}

.detail-item .d-desc p {
    margin-bottom: 0;
    font-size: 25px;
    color: #4A4A4A;
}

.detail-inner .detail-item:nth-child(2n) .d-desc {
    margin-right: 5%;
}

.detail-inner .detail-item:nth-child(2n) .d-thumb {
    margin-right: 0;
}

.detail-inner .detail-item:nth-child(2n) {
    flex-direction: row-reverse;
}

.detail-item {
    margin-bottom: 30px;
}

.special-area {
    background: linear-gradient(137.83deg, #C32AFF 0%, #51036B 55.54%, #490161 100%);
}

.special-area p {
    color: #fff;
    font-size: 24px;
}

.special-area {
    padding: 100px 0;
}

.special-area h2 {
    color: #fff;
    font-size: 50px;
    line-height: 29px;
}

.dev-area {
    padding: 100px 0;
}

.dev-area h2 {
    font-size: 50px;
    color: #4A4A4A;
    line-height: 45px;
}

.dev-area p {
    font-size: 25px;
    color: #4A4A4A;
}

.dev-area p strong {
    font-weight: 600;
    color: #632F7B;
}

.power-detail h2 {
    font-size: 70px;
    color: #4A4A4A;
    line-height: 66px;
}

.power-link a.oni-btn {
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    width: 194px;
}

.footer-area {
    padding: 70px 0;
}

.footer-logo {
    max-width: 56px;
    text-align: right;
    float: right;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    list-style: none;
}

.footer-nav ul li {
    display: inline-block;
    margin-right: 15px;
}

.footer-nav ul li a {
    font-size: 20px;
    font-weight: 500;
    color: #632F7B;
}

.footer-nav ul li.donate a {
    font-size: 20px;
    font-weight: 500;
    color: #7ED321;
}

.footer-bottom {
    padding-top: 50px;
}

.lang a {
    color: #000000;
    font-size: 20px;
}

.lang {
    text-align: right;
}

.dev-inner,
.bottom .power-inner,
.ft-inner {
    max-width: 69%;
    margin: 0 auto;
}

.git-btn {
    display: inline-block;
    color: #000;
    background: #F7F7F7;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 4px 10px;
    font-weight: 500;
}
